
    
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <p id="titre">
              Sigride
            </p>
           </div>

           <div class="col-md-9">
             <ul class="nav nav-pills pull-right">

             </ul>
           </div>


            </div>
          </div>
        </div>


      <section>
        <div  class="main-section">
          <p>
            I do not know what i am doing here!
          </p>
            </div>


      </section>

      <section 2>
        <div id="section_2">
        <button id="view" type="button" class="btn btn-default">View my work</button>
        </div>
      </section>
   
      
    <footer>
        <div class="container">
          <div class="site_footer">
            <ul class="social_footer">
                <li>
                    <a href="https://twitter.com/">
                      <img src="img/twitter.png"/img>
              </a>
                </li>
          
                <li>
                    <a href="https://www.linkedin.com/"><img src="img/linkedin-logo.png"/img></a>
                </li>
                <li>
                    <a href="https://github.com/"><img src="img/github-logo.png"/img>
                    </a>
                </li>
                <li>
                    <a href="#"><img src="img/copyright.png"/img></a>
                </li>
            </ul>
          </div>
        </div>
    </footer>
  